ul#gallery  {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 500px;
	height:450px;
	border: 4px solid #fc0;
	background-color: #ff6;
	font: 13px Arial, Helvetica, sans-serif;
}
ul#gallery li a {
	display: block;
	overflow: hidden;
	padding-left: 10px;
	line-height:30px;
	width: 492px;
	height: 30px;
	text-decoration: none;
	color: #600;
}
ul#gallery li a span{ color:#000;}
ul#gallery li a:hover {
	background-color: #fc0;
	height: 170px;
	color: #F00;
}
ul#gallery h3 {
	text-transform: uppercase;
	font: 13px "Arial Black", Arial, Helvetica, sans-serif;
}
ul#gallery b {
	color: #600;
}